In [1]:
import numpy as np
import pandas as pd
import scipy
import statsmodels.api as sm
import matplotlib as plt
import seaborn as sns
import sklearn
sns.set()

from sklearn.linear_model import LinearRegression

In [2]:
data = pd.read_csv('Data\_regression.csv')
data.head()

    SAT   GPA
0  1714  2.40
1  1664  2.52
2  1760  2.54
3  1685  2.74
4  1693  2.83

In [3]:
x=data['SAT']
y=data['GPA']

In [4]:
x.shape
y.shape

(84,)

In [5]:
x_matrix = x.values.reshape(-1,1)

In [6]:
reg = LinearRegression()
reg.fit(x_matrix,y)

LinearRegression()

In [7]:
# R cuadrado para ver que este bueno
reg.score(x_matrix,y)

0.40600391479679765

In [8]:
data = pd.read_csv('Data\_MultipleRegression.csv')
data.head()

    SAT  Rand 1,2,3   GPA
0  1714           1  2.40
1  1664           3  2.52
2  1760           3  2.54
3  1685           3  2.74
4  1693           2  2.83

In [9]:
data.describe()

               SAT  Rand 1,2,3        GPA
count    84.000000   84.000000  84.000000
mean   1845.273810    2.059524   3.330238
std     104.530661    0.855192   0.271617
min    1634.000000    1.000000   2.400000
25%    1772.000000    1.000000   3.190000
50%    1846.000000    2.000000   3.380000
75%    1934.000000    3.000000   3.502500
max    2050.000000    3.000000   3.810000

In [10]:
x = data[['SAT','Rand 1,2,3']]
y = data['GPA']

In [11]:
reg = LinearRegression()
reg.fit(x,y)

LinearRegression()